@charset "UTF-8";
html {
    font-family: sans-serif;
    /*文字系統の調整*/
}

body {
    margin: 0 0 0 0;
    background-color: #fffbf6;
}

/* 全体 */

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.header {
    height: 70px;
    position: fixed;
    top: 0;
}

h1 {
    float: left;
    font-size: 22px;
    padding: 15px 20px;
    margin: 0;
    color: #bed0e0;
}

.nav {
    float: right;
}

.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

.nav ul {
    margin: 0 0 0 0;
    padding: 20px 10px 15px 20px;
}

.nav a:link {
    color: #bed0e0;
    text-decoration: none;
}

.nav a:visited {
    color: #bed0e0;
    text-decoration: none;
}

.nav a:hover {
    color: #88a9e2;
    text-decoration: none;
}

.nav a:active {
    color: #5a9bc0;
    text-decoration: none;
}

p {
    line-height: 30px;
}

/* 途中からヘッダー固定 */

#global-nav {
    background: #fffbf6;
    width: 100%;
    z-index: 20;
}

#global-nav.m_fixed {
    left: 0;
    position: fixed;
    top: 0;
}

#global-nav .inner {
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    width: 960px;
}

.global-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.global-item {
    border-left: 1px solid #fff;
    width: 17%;
}

.global-item:last-child {
    border-right: 1px solid #fff;
    margin-right: 0;
}

.global-item a {
    background: #16244e;
    color: #fff;
    display: block;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

/* 写真 */

.table-photo {
    width: 100%;
    height: 230px;
}

.column {
    display: flex;
    border-bottom: 1px dashed #bec2c7;
    padding: 10px 8px;
}

.column a {
    text-decoration: none;
}

.column a:visited {
    color: black;
    text-decoration: none;
}

.column a:hover {
    color: black;
    text-decoration: none;
}

.relative {
    padding: 0;
    margin: 0;
}

.relative h2 {
    position: relative;
    top: -320px;
    left: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Upright', serif;
    z-index: 10;
    font-size: 2.5rem;
    color: #dce0ec;
    width: 250px;
}

.column-photo {
    margin: 25px 30px 5px 5px;
    width: 360px;
    height: 280px;
}

/* index.html */

.header_index {
    position: relative;
    height: 578px;
    width: 100%;
}

.slider{
    /* スライドを表示させる画面の横幅(≒スライド１枚あたりの横幅) */
    width: 1200px;
    /* スライドを表示させる画面の縦幅(≒スライド１枚あたりの縦幅) */
    height: 578px;
    /* はみ出した要素は隠れるようにする */
    overflow: hidden;
}
.slider__container{
    /* スライドを表示する画面とスライド１枚をぴったり合わせるため設定 */
    padding: 0;
    margin: 0;
    
    /* 子要素でfloatを利用しているため設定 */
    overflow: hidden;

    list-style: none;

    /* 後ほどJSでleftプロパティを設定するため必要 */
    position: relative;

}
.slider__item{
    /* スライド１枚あたりの横幅 */
    width: 1200px;
    /* スライド１枚あたりの縦幅 */
    height: 578px;
    /* スライドを横一列に並べる */
    float: left;
}

.header-i {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 70px;
    width: 95%;
}

.header-i h1{
    float: left;
}



.table {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    font-size: 0;
}

.table ul {
    padding: 0;
    margin: 0;
}

.table li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.table-item {
    border: solid;
    width: 24.3%;
}

.table-text {
    text-align: center;
    height: 50px;
    font-size: 20px;
}

.table-item a:link {
    color: #16244e;
    text-decoration: none;
}

.table-item a:visited {
    color: #16244e;
    text-decoration: none;
}

.table-item a:hover {
    color: #879cdb;
    text-decoration: none;
}

.table-item a:active {
    color: #16244e;
    text-decoration: none;
}

.column a:link {
    color: #16244e;
    text-decoration: none;
}

.column a:visited {
    color: #16244e;
    text-decoration: none;
}

.column a:hover {
    color: #879cdb;
    text-decoration: none;
}

.column a:active {
    color: #16244e;
    text-decoration: none;
}

.footer {
    background-color: #bed0e0;
    margin: 0;
    padding: 0;
    height: 350px;
}

.introduce_myself {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 960px;
}

#image {
    width: 200px;
    height: 175px;
}

.left {
    float: left;
    width: 30%;
    margin: 15px;
}

.right {
    float: right;
    width: 60%;
    margin: 15px;
}

.footer a:link {
    color: #2b5beb;
}

.footer a:visited {
    color: #2b5beb;
}

.footer a:hover {
    color: #869de2;
}

.footer a:active {
    color: #869de2;
}

@media (max-width: 900px) {
    .table {
        display: none;
    }
}

@media (max-width: 700px) {
    .left {
        float: none;
        width: 100%;
        text-align: center;
    }
    .right {
        float: none;
        width: 88%;
        margin: 50px;
    }
    .right h4 {
        text-align: center;
    }
    .footer {
        height: 700px;
    }
}

@media (max-width: 700px) {
    .column {
        display: block;
        width: 85%;
    }
    .column-text {
        position: relative;
        top: -40px;
        left: 20px;
    }
    .relative {
        text-align: center;
    }
}

/* mod_nav　スマホ用グローバルメニュー
-----------------------------------------*/

.mod_nav {
    display: none;
}

@media print, screen and (max-width: 870px) {
    .nav {
        display: none;
        visibility: hidden;
    }
    .mod_nav {
        display: block;
    }
}

/* mod_nav
-----------------------------------------*/

.mod_nav {
    height: 30px;
    width: 120px;
    float: right;
}

@media (max-width:870px) {
    .mod_nav {
        height: auto;
    }
}

.mod_nav p.navtitle {
    display: none;
}

@media (max-width:870px) {
    .mod_nav p.navtitle {
        cursor: pointer;
        display: block;
        line-height: 45px;
        color: #FFF;
        padding: 0 0 0 0px;
        margin-top: 10px;
        font-size: 110%;
        font-weight: bold;
        text-align: center;
    }
    .mod_nav p.navtitle:hover {
        color: #c0cdf7;
    }
}

.mod_nav ul {
    margin: 0 auto;
}

@media (max-width:870px) {
    .mod_nav ul {
        width: 120px;
        display: none;
        list-style-type: none;
        padding-inline-start: 0;
    }
}

.mod_nav ul li {
    width: 120px;
    line-height: 45px;
    text-align: center;
}

@media (max-width:870px) {
    .mod_nav ul li {
        float: none;
        width: 98%;
        padding: 0 1% 0 1%;
        text-align: center;
    }
}

.mod_nav ul li a {
    display: block;
    color: #FFF;
}

.mod_nav ul li.current a {
    font-weight: bold;
}

.mod_nav ul li a:link {
    color: #FFF;
    text-decoration: none;
}

.mod_nav ul li a:visited {
    color: #FFF;
    text-decoration: none;
}

.mod_nav ul li a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #AAAAAA;
}

.mod_nav ul li a:active {
    color: #FFF;
    text-decoration: none;
    background-color: #AAAAAA;
}

/* mod_nav　ここまで
-----------------------------------------*/

/* 外部サイトURLの表示 */

.url a:link {
    color: #2b5beb;
}

.url a:visited {
    color: #2b5beb;
}

.url a:hover {
    color: #869de2;
}

.url a:active {
    color: #869de2;
}

/* 折りたたみ隠し部分 */
.openHere{
    display:none;
}

/* contact.html */
.all{
    text-align:center;
}

.namefolder input{
    width: 240px;
    line-height: 20px;
}

.title input{
    width: 50%;
    line-height: 20px;
}

.content textarea{
    width: 50%;
    line-height: 20px;
    height: 250px;
}

.namefolder{
    margin: 20px;
}

.title{
    margin: 20px;
}

.content{
    margin: 20px;
}

.button input{
    width: 150px;
    height: 30px;
}